#
# silencesuzuka
# Known As: @admin
# Email  : admin@noreply
#
# (c) 1998-2140 team-silencesuzuka
#
# Write the alias here.
#

# lsd-control
[[ -f /usr/local/lib/lsd-alias ]] && source /usr/local/lib/lsd-alias

# aptpac
#alias apt='aptpac'
#alias apt-get='aptpac'

# no-beep less
alias less='less -Q'
