[Desktop Entry]
Name=infoengine1337 UhuruOS Wallpaper (Old)
X-KDE-PluginInfo-Name=uhuru-wallpaper-2-old
X-KDE-PluginInfo-Author=FascodeNetwork
X-KDE-PluginInfo-Email=development@noreply
X-KDE-PluginInfo-License=GPLv3
