[Desktop Entry]
Name=infoengine1337 UhuruOS Wallpaper No Characters
X-KDE-PluginInfo-Name=uhuru-wallpaper-nochr
X-KDE-PluginInfo-Author=FascodeNetwork
X-KDE-PluginInfo-Email=development@noreply
X-KDE-PluginInfo-License=GPLv3
