 [Desktop Entry]
Name=infoengine1337 UhuruOS Wallpaper made by Jiju
X-KDE-PluginInfo-Name=uhuru-jiju-plasma
X-KDE-PluginInfo-Author=Jiju & FascodeNetwork
X-KDE-PluginInfo-Email=development@noreply
X-KDE-PluginInfo-License=LGPLv3
