# silencesuzuka
# Known As: @admin
# Email  : admin@noreply
#
# (c) 1998-2140 team-silencesuzuka
#

LABEL uhuru_%ARCH%_nbd
TEXT HELP
Boot the %OS_NAME% (%ARCH%) live medium (Using NBD).
It allows you to install %OS_NAME% or perform system maintenance.
ENDTEXT
MENU LABEL Boot %OS_NAME% (%ARCH%) (NBD)
LINUX /%INSTALL_DIR%/boot/%ARCH%/%KERNEL_FILENAME%
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/uhurulive.img
APPEND arch=%ARCH% uhurulivebasedir=%INSTALL_DIR% uhurulivelabel=%UHURULIVE_LABEL% uhurulive_nbd_srv=${pxeserver} checksum verify
SYSAPPEND 3

LABEL uhuru_%ARCH%_nfs
TEXT HELP
Boot the %OS_NAME% (%ARCH%) live medium (Using NFS).
It allows you to install %OS_NAME% or perform system maintenance.
ENDTEXT
MENU LABEL Boot %OS_NAME% (%ARCH%) (NFS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/%KERNEL_FILENAME%
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/uhurulive.img
APPEND arch=%ARCH% uhurulivebasedir=%INSTALL_DIR% uhurulive_nfs_srv=${pxeserver}:/run/uhurulive/bootmnt checksum verify
SYSAPPEND 3

LABEL uhuru_%ARCH%_http
TEXT HELP
Boot the %OS_NAME% (%ARCH%) live medium (Using HTTP).
It allows you to install %OS_NAME% or perform system maintenance.
ENDTEXT
MENU LABEL Boot %OS_NAME% (%ARCH%) (HTTP)
LINUX /%INSTALL_DIR%/boot/%ARCH%/%KERNEL_FILENAME%
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/uhurulive.img
APPEND arch=%ARCH% uhurulivebasedir=%INSTALL_DIR% uhurulive_http_srv=http://${pxeserver}/ checksum verify
SYSAPPEND 3